<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-permissions" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription in iOS 10 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file platform="ios" parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>This lets you stream Video while on doxy.me.</string>
      </config-file>
      <config-file platform="ios" parent="NSMicrophoneUsageDescription" target="*-Info.plist">
        <string>This lets you stream Audio while on doxy.me.</string>
      </config-file>
    </platform>
</plugin>
